zx{color:#347039;}
       @font-face {font-family: "Proto-Semitic";src: local("Proto-Semitic");unicode-range: U+05D0-05EC;}
       zxx{font-family:"Proto-Semitic";}
       body{position:relative;background-color:#272B1D;color:#AD9F75;}
       select.ss{width:10px;}a:visited{color:#FFFFFF;}a:link,a:visited{text-decoration:none;display:inline-block;background-color:#394224;font-weight:bold;color:#8DA859;padding:0px;padding-right:1px;padding-left:1px;}a:hover,input:hover,select:hover{background-color:#667A50;}
.ui-menu { border:1px solid #999; background:#FFF; cursor:default; text-align:left; max-height:550px; overflow:auto; margin:-0px 0px 0px -0px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
ul.autosuggest{position: absolute;list-style: none;margin: 0;padding: 0;}
	ul.autosuggest li a:link,
	ul.autosuggest li a:visited
	{
		display: block;
		text-decoration: none;
		background-color: #eee;
	}

	ul.autosuggest li a:hover,
	ul.autosuggest li a:active
	{
		color: #fff;
		background-color: #f30;
	}
